body {
  font-family: Roboto, arial, sans-serif;
}
.djelatnost-slika {
  width: 400px;
}
.opis-slika-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 650px) {
  .opis-slika-container {
    grid-template-columns: 1fr;
  }
}
.author-container {
  display: flex;
  justify-content: right;
  align-items: center;
}
