body {
  font-family: Roboto, arial, sans-serif;
}
.accessibility-container {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(198, 198, 198);
  transition: top 0.6s;
  top: -80px;
}
.accessibility-container button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border-radius: 3px;
  border: solid 2px black;
  background-color: rgb(240, 248, 255);
}
.accessibility-container button:hover {
  background-color: beige;
}
.accessibility-container button:focus {
  background-color: rgb(245, 242, 220);
}
.accessibility-container button p {
  display: inline-block;
}
.opis-slika-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 550px) {
  .opis-slika-container {
    grid-template-columns: 1fr;
  }
}
.opis-container {
  min-width: 200px;
}
.početna-slika {
  width: 100%;
}
.djelatnosti-container {
  margin-top: 10px;
  border: solid 3px gray;
  background-color: beige;
}
.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 581px) {
  .links-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}
@media screen and (max-width: 361px) {
  .links-container {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.links-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-container div a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.links-container div button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: bisque;
  color: black;
  border: solid 2px gray;
  cursor: pointer;
}
.links-container div button:hover {
  opacity: 0.8;
}
.podaci-slika {
  display: inline-block;
}
.podaci-naslov {
  display: inline-block;
}
.djelatnosti-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 580px) {
  .djelatnosti-lista {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .djelatnosti-lista {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.djelatnosti-naslov {
  display: inline-block;
}
.djelatnosti-slika {
  display: inline-block;
}
.pravo-slika-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border: solid 2px black;
}
.pravo-slika-container h3 {
  display: inline-block;
}
.pravo-slika-container img {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.pravo-slika-container a {
  margin-top: 5px;
  display: block;
}
.o-meni-naslov {
  display: inline-block;
}
.o-meni-slika {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.slika-naslov-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.slika-kontakt-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.slika-kontakt-container img {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 340px) {
  .slika-kontakt-container img {
    display: none;
  }
}
.maps-iframe {
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 520px) {
  .maps-iframe {
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  .maps-iframe {
    height: 200px;
  }
}
.maps-iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slika-kontakt-container ul {
  margin: 0;
}
.djelatnost-slika-container {
  display: flex;
  justify-content: center;
}
